# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
debug.log
error.log

# Database files
*.sqlite
*.sqlite-journal
*.db
*.db-wal
*.db-shm
*.sql

# Cache and build files
dist/
build/
.cache/
.DS_Store

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
